.outer {
    display: grid;
    grid-template-rows: repeat(16,44px);
    grid-template-columns: repeat(16,6.15%);
    gap: 1px 1px;
    border: 1px solid black;
    padding: 1px;
}

.box1 {
    background-color: #FF7100;
}

.box2 {
    background-color: #FFB26D;
}

.box3 {
    background-color: #A84A00;
}